body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #3d4d62;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}

/* global button styling */
.btn {
  padding: 6px 14px;
  min-height: 40px;
  border-radius: 4px;
}
.btn-primary {
  background-color: #01a4b7;
  border-color: #01a4b7;
  transition: 0.5s ease-in-out;
}
.btn-primary:hover {
  transform: scale(1.05);
}
.btn-primary:hover,
.btn:first-child:hover,
:not(.btn-check) + .btn:hover {
  background-color: #007e91;
  border-color: #007e91;
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  background-color: #007e91;
  border-color: #007e91;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

/* Global typography */
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
/* header styling */
.navbar {
  padding: 20px 0px;
}
.navbar-brand {
  padding-right: 35px;
  border-right: 1px solid #ccc;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  color: #3d4d62;
  cursor: pointer;
}
.title {
  position: relative;
  /* padding-bottom: 25px; */
  margin-bottom: 25px;
}
.title::after {
  content: "";
  height: 3px;
  display: block;
  width: 38px;
  background-color: #0097a9;
  bottom: 0px;
  position: relative;
  margin-top: 25px;
}
h2.title.text-center::after {
  margin: 25px auto 0;
}
@media (min-width: 1600px) {
  .btn {
    padding: 6px 20px;
    min-height: 50px;
  }
}
