body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #3d4d62;
}

/* global button styling */
.btn-primary {
  background-color: #01a4b7;
  border-color: #01a4b7;
}
.btn-primary:hover,
.btn:first-child:hover,
:not(.btn-check) + .btn:hover {
  background-color: #0097a9;
  border-color: #0097a9;
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  background-color: #0097a9;
  border-color: #0097a9;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

/* Global typography */
h1 {
  font-size: 40px;
}

/* header styling */
.navbar {
  padding: 20px 0px;
}
.navbar-brand {
  padding-right: 35px;
  border-right: 1px solid #ccc;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  color: #3d4d62;
  cursor: pointer;
}
.title {
  position: relative;
}
.title::after {
  content: "";
  height: 3px;
  display: block;
  width: 38px;
  background-color: #0097a9;
  bottom: 0px;
  position: absolute;
}
